/**
 * Form errors
 * -----------------------------------------------------------------------------
 */

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
textarea {
	&.has-error {
		border-bottom-color: $color--orange;
		color: $color--orange;
	}	
}



.error-message {
	color: $color--orange;
	margin-bottom: get($gutter, 'base');
}
