/**
 * Footer
 * -----------------------------------------------------------------------------
 */
 
footer.page-footer {
	@extend %box-spacing;
	@include background-default();
	background-image: url($url-images + 'rbptwc-background-footer-small.jpg');
	background-size: cover;
	background-position: center center;
	@include font-bold();
	@include font-size($fs-footer);
	@include font-smoothing();
	padding-bottom: get($gutter, '4');
	padding-top: get($gutter, '4');
	
	@include bp-medium() {
		background-image: url($url-images + 'rbptwc-background-footer-large.jpg');
		padding-bottom: get($gutter, '8');
		padding-top: get($gutter, '8');
	}
	
	@include bp-large() {
		padding-bottom: get($gutter, '10');
		padding-top: get($gutter, '10');
	}
		
	p:last-of-type {
		margin-bottom: 0;
	}
	
	a {
		color: $color--white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	
	.social-media {
		span {
			display: block;
			@include font-size($fs-small);
			margin-bottom: get($gutter, 'base') + get($gutter, 'half');
		}
	}
	
	.page-footer__item:not(:last-of-type) {
		margin-bottom: get($gutter, '4');
	}
}