/* Helpers
 * -------------------- */
/**
 * Variables
 * -----------------------------------------------------------------------------
 */
/* Colors
 * -------------------- */
/* Gutter
 * -------------------- */
/* Urls
 * -------------------- */
/* Font sizes
 * -------------------- */
/**
 * Mixins
 * -----------------------------------------------------------------------------
 */
/**
 * Vertical align
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      element {
 *          @include vertical-align($position);
 *      }
 *
 */
/**
 * Cross browser opacity
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      img {
 *          @include opacity(1,100);
 *      }
 *
 */
/**
 * Set box shadow
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      div {
 *          @include box-shadow(values);
 *      }
 *
 */
/**
 * Grayscale an image
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      img {
 *          @include filter-grayscale(value);
 *      }
 *
 */
/**
 * Background defaults
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      header {
 *          @include background-default($opts)
 *      }
 *
 */
/**
 * Visually hide an element
 * -----------------------------------------------------------------------------
 * This placeholder selector will visually hide an element while
 * still make it accessible for screenreaders.
 * 
 * Usage:
 *
 *      p {
 *          @extend %visually-hidden;
 *      }
 *
 */
/* line 138, ../../.source/source/sass/helpers/_mixins.scss */
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Clearfix
 * -----------------------------------------------------------------------------
 * A solid clearfix by Nicolas Gallagher.
 * Source: (http://nicolasgallagher.com/micro-clearfix-hack/)
 * 
 * Usage:
 *
 *      p {
 *          @extend %clearfix;
 *      }
 *
 */
/* line 164, ../../.source/source/sass/helpers/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 168, ../../.source/source/sass/helpers/_mixins.scss */
.clearfix:before {
  content: ' ';
  display: table;
}
/* line 173, ../../.source/source/sass/helpers/_mixins.scss */
.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

/**
 * Media Queries
 * -----------------------------------------------------------------------------
 * A simple mixin for using media queries. Change the values to
 * fit your sites needs.
 * 
 * Usage:
 *
 *      header {
 *          @include bp-small() {
 *              display: none;
 *          }
 *          @include bp-huge() {
 *              display: block;
 *          }
 *      }
 */
/* Pace
 * http://github.hubspot.com/pace/docs/welcome/
 * -------------------- */
/* line 12, ../../.source/source/sass/pace.scss */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 20, ../../.source/source/sass/pace.scss */
.pace-inactive {
  display: none;
}

/* line 24, ../../.source/source/sass/pace.scss */
.pace .pace-progress {
  background-color: #97141B;
  height: 5px;
  position: fixed;
  right: 100%;
  top: 0;
  width: 100%;
  z-index: 2000;
}
@media only screen and (min-width: 960px) {
  /* line 24, ../../.source/source/sass/pace.scss */
  .pace .pace-progress {
    height: 10px;
  }
}
