/**
 * Brand (client logo)
 * -----------------------------------------------------------------------------
 */

.brand {
	display: block;
}

.brand--rbptwc {
	height: auto;
	margin-top: get($gutter, '7');
	position: relative;
	width: 140px;
	@include transition(transform .1s ease-out);
	
	@include bp-medium() {
		width: 280px;
		margin-top: get($gutter, '4');
	}
	
	@include bp-large() {
		width: 320px;
		margin-top: get($gutter, '4') + get($gutter, 'half');
	}
	
	&.brand--rbptwc-small {
		margin-top: get($gutter, '7');
		max-width: 336px;
		
		@include bp-medium() {
			margin-top: get($gutter, '2');
		}

		@include bp-large() {
			margin-top: get($gutter, '7');
		}
	}
	
	&.brand--rbptwc-footer {
		margin-top: 0 !important;
		width: 200px;

		@include bp-medium() {
			width: 180px;
		}

		@include bp-medium() {
			width: 200px;
		}
	}	
}

.brand--velosolutions {
	max-width: 400px;
	text-decoration: none;
	width: 90%;
	
	@include bp-medium() {
		max-width: none;
		margin-left: 0;
		width: 100%;
	}
	
	img {
		display: block;
		height: auto;
		width: 100%;
	}
}