/**
 * Icons
 * -----------------------------------------------------------------------------
 */

.icon {
	display: block;
}

.icon--social {
	@include background-default();
	background-size: 100%;
	background-position: top left;
	display: inline-block;
	height: 40px;
	margin-right: 12px;
	text-decoration: none;
	width: 40px;
	@include transition(transform .16s ease-out);
	
	&:hover {
		@include rotate(30deg);
	}
}

.icon--next-page {
	@include background-default();
    background-color: transparent;
    background-image: url($url-icons + 'icon-chevron.svg');
    background-size: 100%;
	bottom: 30px;
	height: 16px;
	left: calc(50% - 8px);
	position: absolute;
	width: 25px;
	@include translate(0,0);
	@include transition(transform .16s ease-in-out);
	
	&:hover {
		@include translate(0,3px);
	}
	
	@include bp-medium() {
		height: 28px;
		left: calc(50% - 21px);
		width: 43px;
	}
}

.icon--facebook {
	background-image: url($url-icons + 'icon-facebook.svg');
}

.icon--instagram {
	background-image: url($url-icons + 'icon-instagram.svg');
}

.icon--twitter {
	background-image: url($url-icons + 'icon-twitter.svg');
	margin-right: 0;
}